* {
    padding : 15px;
}

//HEADER
#header {
    border-radius: 30px;
    box-shadow: #6b7965 0px 50px 100px -20px, rgba(0,0,0,0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

//#ff00ea40